on boot
    setprop net.dns1 192.168.0.1
    setprop ro.radio.use-ppp no
    setprop ro.radio.noril yes
    setprop ro.showcursor 1

#######
service emev-setup /system/etc/init.emev.sh
    class core
    user root
    group root
    oneshot


