on boot

    setprop net.dns1 192.168.0.1
    setprop ro.radio.use-ppp no
    setprop ro.radio.noril yes
    setprop ro.showcursor 1

# service hciattach need permission of ttyS1
    chown bluetooth bluetooth /dev/ttyS1
    chown bluetooth bluetooth /system/etc/firmware/bcm4329.hcd
    chmod 666 /dev/ttyS1

# BMA220 g-sensor
    chown compass compass /dev/sensor
    chmod 660 /dev/sensor

# 3G scripts
    chmod 755 /system/etc/ppp/ip-up-datakey
    chmod 755 /system/etc/ppp/ip-down-datakey

# Using a landscape screen
    setprop lcd.landscape true

#######
# EMEV 
service emev-setup /system/etc/init.emev.sh
    class core
    user root
    group root
    oneshot

###########
# bluetooth
service iprenew_bnep0 /system/bin/dhcpcd -n
    disabled
    oneshot

service hciattach /system/bin/hciattach -n /dev/ttyS1 bcm2048
    class main
    user bluetooth
    group bluetooth system net_bt_admin
    disabled

service bt_up /system/xbin/hciconfig hci0 up
    class main
    user bluetooth
    group bluetooth system net_bt_admin
    disabled
    oneshot

service ril-daemon /system/bin/rild -l /system/lib/libreference-ril.so -- -d /dev/ttyUSB1
	class main
	socket rild stream 660 root radio
	socket rild-debug stream 660 radio system
	user root
	group radio cache inet misc audio sdcard_r sdcard_rw vpn net_admin



