
/dev/InterDSP/*           0666   root       graphics
/dev/ave                  0666   root       graphics
/dev/v4l/*                0666   root       graphics
/dev/siz                  0666   root       graphics
/dev/rot0                 0666   root       graphics
/dev/pvrsrvkm             0666   system     graphics
/dev/bc_example           0666   system     graphics
/dev/ttyUSB0              0660   radio      radio
/dev/ttyUSB1              0660   radio      radio
/dev/ttyUSB2              0660   radio      radio
/dev/ttyUSB3              0660   radio      radio
